
<div class="card" style="width: 300px; height: 500px; margin-right: 20px; margin-bottom: 10px;">
  <img class="card-img-top" src= "{{user.photoUrl || '../../../../../assets/user.png'}}" alt="{{user.userName}}" style=" height: 250px;">
  <div class="card-body text-center">
    <h5 class="card-title">{{user.serviceType}}</h5>
    <h5 class="card-subtitle mb-2 text-muted">{{user.firstName}}{{user.lastName}}</h5>
    <h6 class="card-subtitle">{{user.city}}</h6>
    <p class="card-text">{{user.chargers}}</p>
    <app-service-rating [recepientId] = 'user.id'></app-service-rating>
       
    <!-- <app-rating-display [recepientId] = 'user.id'></app-rating-display>   -->
    <a class="btn btn-primary" style="width: 250px;" [routerLink] = "['/members/', user.id]">Read More</a>
    
  </div>
</div>
