<div class="wrapper">
  <div class="container-fluid" style="padding-top: 100px;">
    <div class="row">
  <div *ngFor= "let user of user">
     <app-member-cards [user]= "user"></app-member-cards>
  </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" 
              [totalItems]="pagination.currentPage"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)= "pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
</pagination>