<div class="wrapper">
  <div class="container-fluid" style="padding-top: 100px;">
    <div class="text-center mt-3" *ngIf= "textItems">
      <h2>Your matches - {{pagination.totalItems}} found</h2>
    </div>
    <div class="container mt-3" >
      <form class="form-inline" #form = "ngForm" (ngSubmit)="loadUsers()" novalidate>
       

        
        <div class="col" *ngIf= "textItems">
          <div class="btn-group float-right">
            <button type="button" name="orderBy" class="btn btn-primary" [(ngModel)]="userParams.orderBy" btnRadio="lastActive" (click)="loadUsers()">Last Active</button>
            <button type="button" name="orderBy" class="btn btn-primary" [(ngModel)]="userParams.orderBy" btnRadio="created" (click)="loadUsers()">Newest Members</button>
          </div>
        </div>
        <div class="col">
          <div class="btn-group float-left" *ngIf= "textItems">
            <button type="button" name="serviceType" (click)= "textItemToggle()" class="btn btn-warning"  [(ngModel)]= "userParams.serviceType" btnRadio="Horroscope" (click)="loadUsers()">Horroscope</button>
            <button type="button" name="serviceType" (click)= "textItemToggle()" class="btn btn-warning" [(ngModel)]= "userParams.serviceType" btnRadio="carpenter" (click)="loadUsers()">carpenter</button>
          </div>
        </div>
        <div class="col">
          <div class="btn-group float-left" *ngIf= "!textItems">
            <button type="button" name="serviceType" (click)= "textItemToggle()" class="btn btn-primary"  [(ngModel)]= "userParams.serviceType" btnRadio="Horroscope" (click)="loadUsers()">Horroscope</button>
            <button type="button" name="serviceType" (click)= "textItemToggle()" class="btn btn-warning" [(ngModel)]= "userParams.serviceType" btnRadio="carpenter" (click)="loadUsers()">carpenter</button>
          </div>
        </div>
       
        <div class="form-group" *ngIf= "textItems">
          <label for="minChargers">Chargers From</label>
          <input type="number" class="form-control ml-1" style="width: 70px" id="minChargers" name="minChargers" [(ngModel)]="userParams.minChargers">
        </div>
      
        <div class="form-group px-2" *ngIf= "textItems">
          <label for="maxChargers">Chargers To</label>
          <input type="number" class="form-control ml-1" style="width: 70px" id="maxChargers" name="maxChargers" [(ngModel)]="userParams.maxChargers">
        </div> 
        <button *ngIf= "textItems" type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filters</button>
        <button *ngIf= "textItems" type="button" class="btn btn-info" style="margin-left:10px" (click)="resetFilters()">Reset Filter</button>
      </form>
      <br>





    <div class="row">
  <div *ngFor= "let user of user">
     <app-member-cards [user]= "user"></app-member-cards>
  </div>
    </div>
  </div>
</div>
</div>
<div *ngIf= "textItems" class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" 
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)= "pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
</pagination></div>