 <!-- <div class="container-fluid">
  
  <div class="row">
      <div class="col-md-3">
         
      </div>
      <div class="col-md-3"> <app-search></app-search></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"><app-notifications></app-notifications></div>
      <div class="col-md-2">
          <app-profile></app-profile>
      </div>
  </div>
  
</div> -->
<div class="wrapper">
  <div class="top_navbar">
		<div class="logo">
			<a href="#">Coding Market</a>
		</div>
		<div class="top_menu">
			
				<span><app-search></app-search></span>
				
			
			<div class="right_info">
				<app-notifications></app-notifications>
				<app-profile></app-profile>
			</div>
		</div>
	</div>
</div>
