@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Ubuntu:400,500,700&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    
    box-sizing: border-box;
    text-decoration: none;
  }
  .wrapper{

  background: #fff;
  width: 100%;
  height: 100%;
 
  }
  .wrapper .top_navbar{
    background: #fff;
	width: 100%;
	height: 60px;
	display: flex;
	position: fixed;
    
}

.wrapper .top_navbar .logo{
	width: 250px;
	height: 100%;
	background: #3421C0;
	border-bottom: 1px solid #22119d;
}

.wrapper .top_navbar .logo a{
	display: block;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
  	font-size: 20px;
  	color: #fff;
  	padding: 20px 0;
}

.wrapper .top_navbar .top_menu{
	width: calc(100% - 250px);
	height: 100%;
	background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .top_navbar .right_info .icon_wrap:hover {
    background: #5343c7;
}

.wrapper .top_navbar .right_info{
	display: flex;
}

.wrapper .top_navbar .right_info .icon_wrap{
	padding: 8px 15px;
  
    color: #fff;
    margin: 0 5px;
    cursor: pointer;
}

  
.wrapper .sidebar_menu{
    position: fixed;
    padding-top: 75px;
    left: 0;
    background-color: #3949ab;
    width: 250px;
    height: 100%;
    transition: all 0.3s linear;
}

.wrapper .sidebar_menu .inner__sidebar_menu{
    position: relative;
    padding-top: 60px;
}
.wrapper .sidebar_menu ul li a{
    color:white;
    font-size: 18px;
    padding: 20px 35px;
    display: block;
    white-space: nowrap;
    text-decoration: none;
}
.wrapper .sidebar_menu ul li a .span{
    display: inline-block;
}
.wrapper .sidebar_menu ul li a .icon{
    margin-right: 8px;

}
.wrapper .sidebar_menu ul li a:hover{
    background-color: #1a237e;
    color:white;
    font-weight: bold;
    
}
.wrapper .sidebar_menu ul li a.active{
    font-weight: bold;
    background: #311b92;
}
.wrapper .sidebar_menu .hamburger{
    position: absolute;
    top: 5px;
    right: -25px;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}
.wrapper .sidebar_menu .hamburger .inner_hamburger,
.wrapper .sidebar_menu .hamburger .inner_hamburger .arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.wrapper .sidebar_menu .hamburger .inner_hamburger{
    width: 40px;
    border-radius: 50%;
    height: 40px;
    background: #3949ab;
}
.wrapper .sidebar_menu .hamburger .inner_hamburger .arrow{
    color: white;
    font-size: 20px;
}
.wrapper .container{
    width: calc(100% - 250px);
    margin-left: 250px;
    margin-top: 60px;
    padding: 25px 40px;
    transition: all 0.3s linear;
}
.wrapper .container .item_wrap{
    display: flex;
    margin-bottom: 20px;
}
.wrapper .container .item_wrap .item{
    background: wheat;
    border: 1px solid black;
    padding: 25px;
    font-size: 14px;
    line-height: 22px;
   
}

.wrapper.active .sidebar_menu{
    width: 100px;
}
.wrapper.active .hamburger .fa-arrow-right{
    display: block !important;

}
.wrapper.active .hamburger .fa-arrow-left{
    display: none;
}
.wrapper.active .sidebar_menu ul li a .list{
     display: none;
}
/* .wrapper.active .container{
    width: calc(100% - 100px); 
    margin-left: 100px;
  } */
  .container .card-deck .card{
	height: 50px;
}
#cards{
    background-color: palevioletred;
}

  