<div class="wrapper">
  <div class="container-fluid">
      <div class="card-deck">
          <div class="card" style="max-width: 606px">
            <div class="overflow-auto">
                 <app-workers></app-workers>
            </div>
             
          </div>
          <div class="card" style="max-width: 606px">
            <div class="overflow-auto">
                <app-orderlist></app-orderlist>
            </div>
             
          </div>
      </div>
          
</div>
  </div>

