 <div class="container"><div class="dropdown" >
    <a href="#" data-toggle="dropdown" style="color: black;">
        <button class="button1" data-toggle="tooltip" title="New">New <i class="fas fa-plus" style="padding-left: 15px;"></i></button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="margin-top: 20px;">
          <a class="dropdown-item" href="#">New Message</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">New Invoice</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">New Complain</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">New Email</a>
        </div>
     
    </a>
  </div></div>