 <div class="wrapper">
    <div class="container-fluid">
        <div class="card-deck">
            <div class="card" style="max-width: 18rem">
                <div class="card-header bg-dribbble content-center">
                    <i class="fa fa-envelope-square" aria-hidden="true"> Emails</i>
                    
                  </div>
                  <div class="card-body row text-center">
                    <div class="col">
                        <div class="text-uppercase text-muted small">New</div>
                      <div class="text-value-xl">2</div>
                     
                    </div>
                   
                    <div class="col">
                    <div class="text-uppercase text-muted small">All</div>
                    <div class="text-value-xl">459</div>
                      
                    </div>
                    <div class="col">
                        <button class="btn btn-info"  data-target="#email-modal" data-toggle="modal">View</button>
                          <app-email></app-email>
                        </div>
                  </div>
            </div>
            <div class="card" style="max-width: 18rem">
                <div class="card-header bg-dribbble content-center">
                    <i class="fa fa-comments" aria-hidden="true"> Discussion</i>
                  </div>
                  <div class="card-body row text-center">
                    <div class="col">
                    <div class="text-uppercase text-muted small">New</div>
                      <div class="text-value-xl">3</div>
                     
                    </div>
                    <div class="col">
                      <div class="text-uppercase text-muted small">All</div>
                      <div class="text-value-xl">459</div>
                      
                    </div>
                    <div class="col">
                        <button class="btn btn-info" data-target="#chat-modal" data-toggle="modal">View</button>
                          <app-chats></app-chats>
                        </div>
                  </div>
            </div>
            <div class="card" style="max-width: 18rem">
                <div class="card-header bg-dribbble content-center">
                    <i class="fa fa-file-text" aria-hidden="true"> Invoices</i>
                  </div>
                  <div class="card-body row text-center">
                    <div class="col">
                    <div class="text-uppercase text-muted small">New</div>
                      <div class="text-value-xl">4</div>
                      
                    </div>
                   
                    <div class="col">
                    <div class="text-uppercase text-muted small">All</div>
                      <div class="text-value-xl">459</div>
                      
                    </div>
                    <div class="col">
                        <button class="btn btn-info" data-target="#invoices-modal" data-toggle="modal">View</button>
                          <app-invoices></app-invoices>
                        </div>
                  </div>
            </div>
            <div class="card" style="max-width: 18rem">
                <div class="card-header bg-dribbble content-center">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"> Complaints</i>
                  </div>
                  <div class="card-body row text-center">
                    <div class="col">
                        <div class="text-uppercase text-muted small">New</div>
                      <div class="text-value-xl">89</div>
                      
                    </div>
                   
                    <div class="col">
                        <div class="text-uppercase text-muted small">All</div>
                      <div class="text-value-xl">459</div>
                      
                    </div>
                    <div class="col">
                        <button class="btn btn-info" data-target="#complaints-modal" data-toggle="modal">View</button>
                          <app-complaints></app-complaints>
                        </div>
                  </div>
            </div>
          </div>
    </div>
</div> 