
<div class="wrapper">
  <div class="container-fluid">
   

      <!--Card-->
      <div class="card card-cascade narrower" style="max-height: 1200px; max-width: 1240px;">
  
        <!--Card image-->
        <div class="view view-cascade gradient-card-header peach-gradient">
          <h5 class="mb-0">Custom map</h5>
        </div>
        <!--/Card image-->
  
        <!--Card content-->
        <div class="card-body card-body-cascade text-center"  style="max-height: 300px">
  
          <!--Google map-->
          <div id="map-container-google-9" class="z-depth-1-half map-container-5"  style="max-height: 300px">
            <iframe src="https://maps.google.com/maps?q=Madryt&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
              style="border:0" allowfullscreen></iframe>
          </div>
  
  
        </div>
        <!--/.Card content-->
  
      </div>
      <!--/.Card-->
     <div>
       
     </div>
    </div>
    <!--Grid column-->
  
  </div>