.map-container-5{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container-5 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  max-height: 250px;
  padding-bottom: 10px;
  }
    .wrapper .container-fluid{
        width: calc(100% - 250px);
        margin-left: 250px;
        margin-right: 250px;
        padding: 10px 40px;
      transition: all 0.3s linear;
     
    }
    .wrapper.active .container-fluid{
        width: calc(100% - 117px); 
        margin-left: 100px;
      } 
      .hm-gradient {
        background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    }
    .darken-grey-text {
        color: #2E2E2E;
    }
      