<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="wrapper">
    <div class="container">
        <div class="row">
            <diV>
                <h4 style="padding-left: 10px;"> Payments</h4>
                <canvas id="mychart" height="167px" width="350px" style="padding-bottom:10px"  style="max-width: 400px"></canvas>
            </diV>
          
            <div>
                <h4 style="padding-left: 10px;"> workers</h4>
                <canvas id="barchart" width="350px" height="167px" style="padding-bottom:10px"  style="max-width: 500px"></canvas>
            </div>
        </div>
                
                   
    </div>
           
    
</div>


