<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="modal fade" data-keyboard="false" data-backdrop="static" id="complaint-modal" tabindex="-1" style=" background-color: cornflowerblue;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">New Complaints</h4>
                            <button class="close" data-dismiss="modal">&times;</button>
                            
                        </div>
                        <div class="modal-body">
                            <form #complainForm="ngForm" (ngSubmit)="complainForm.valid && sendComplaints()">
                                <div class="input-group">
                             <input type="text"
                             [(ngModel)]= "newComplain.complain"
                             name="complain"
                             required
                                 class="form-control input-sm"
                                  placeholder="Create a complaint">
                                <div class="input-group-append">
                                  <button class="btn btn-primary" [disabled]="!complainForm.valid">Send</button>
                                </div>
                            </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div> 

