<div class="container">
  <div class="dropdown show">
    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false" style="color: black;">
      <div class="profile1">
        <a class="text-muted"> Welcome {{authService.decodedToken?.unique_name|titlecase}} </a><img
          src="{{photoUrl || '../../../../../assets/user.png'}}" width="40"
          height="40" class="rounded-circle">
      </div>
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="margin-top: 20px;">
      <a class="dropdown-item" [routerLink]= "['members/edit']">Edit Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Manage Account</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" (click) ="logout()">Logout</a>
    </div>
  </div>
</div>
 