<div class="container"><div class="dropdown show" >
    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
      <div class="profile1">
        <p> Welcome {{authService.decodedToken?.unique_name|titlecase}}</p><img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
      </div>
     
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="margin-top: 20px;">
      <a class="dropdown-item" href="#">Edit Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Manage Account</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" (click)= "logout()">Logout</a>
    </div>
  </div></div>

