.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
    margin-right: 10px;
  
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
    margin-right: 20px;
}
.form-group shadow-textarea{
    margin-left: 10px;
    padding-left: 20px;
}