<div class="form-group shadow-textarea" style="max-width: 400px; padding-left: 20px; padding-right: 10px" >
    <label for="exampleFormControlTextarea6"></label>
    <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Write something here..." style="height: 200px;"></textarea>
    <div class="row" style="margin-top: 10px; margin-left: 5px;">
        <div class="btn-group">
            <button class="btn" type="button"><span class="fa fa-picture-o fa-lg"></span></button>
            <button class="btn" type="button"><span class="fa fa-video-camera fa-lg"></span></button>
            <button class="btn" type="button"><span class="fa fa-microphone fa-lg"></span></button>
            <button class="btn" type="button"><span class="fa fa-music fa-lg"></span></button>
        </div>
        <button class="btn btn-primary" style="margin-left: 30%;">Share</button>
    </div>
</div>

  