<div style= "margin-top: 100px;">
  <form [formGroup]= "registerForm" (ngSubmit)="register()">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
    <div class="form-group">
      <label class="control-label" style="margin-right:10px">I am a: </label>
      <label class="radio-inline">
        <input class="mr-3" type="radio" value="male" formControlName="gender">Male
      </label>
      <label class="radio-inline ml-3">
        <input class="mr-3" type="radio" value="female" formControlName="gender">Female
      </label>
    </div>
    <div class="form-group">
      <label class="control-label" style="margin-right:10px">I am a job seeker: </label>
      <label class="radio-inline">
        <input class="mr-3" type="radio" value="true" formControlName="isJobSeeker">Yes
      </label>
      <label class="radio-inline ml-3">
        <input class="mr-3" type="radio" value="false" formControlName="isJobSeeker">No
      </label>
    </div>
    <div class="form-group">
      <label class="control-label" style="margin-right:10px">I am a supplier: </label>
      <label class="radio-inline">
        <input class="mr-3" type="radio" value="true" formControlName="isSupplier">Yes
      </label>
      <label class="radio-inline ml-3">
        <input class="mr-3" type="radio" value="false" formControlName="isSupplier">No
      </label>
    </div>

    <div class="form-group">
      <label class="control-label" style="margin-right:10px">I am seeking a: </label>
      <label class="radio-inline">
        <input class="mr-3" type="radio" value="job" formControlName="lookingFor">Job 
      </label>
      <label class="radio-inline ml-3">
        <input class="mr-3" type="radio" value="worker" formControlName="lookingFor">worker
      </label>
      <label class="radio-inline ml-3">
        <input class="mr-3" type="radio" value="buyer" formControlName="lookingFor">Buyer
      </label>
    </div>



    <div class="form-group">
      <input type="text"
      [ngClass]="{'is-invalid': registerForm.get('username').errors && registerForm.get('username').touched}"
      class="form-control"  formControlName="username"  placeholder="Username">
      <div class="invalid-feedback">Please choose a Username</div>
    </div>
    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('firstName').errors && registerForm.get('firstName').touched}" class="form-control"
        placeholder="First Name" formControlName="firstName">
      <div class="invalid-feedback" *ngIf= "registerForm.get('firstName').touched && registerForm.get('firstName').hasError('required')">First Name is required</div>
    </div>
    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('lastName').errors && registerForm.get('lastName').touched}" class="form-control"
        placeholder="Last Name" formControlName="lastName">
      <div class="invalid-feedback" *ngIf="registerForm.get('lastName').touched && registerForm.get('lastName').hasError('required')">Last Name is required</div>
    </div>
    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('dateOfBirth').errors && registerForm.get('dateOfBirth').touched}" class="form-control"
        placeholder="Date of Birth" formControlName="dateOfBirth" type="text" bsDatepicker [bsConfig] = "bsConfig">
      <div class="invalid-feedback" *ngIf="registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')">Date of Birth is required</div>
    </div>

    <div class="form-group">
      <input type="password" 
      [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}"
      class="form-control is-invalid" formControlName="password"  placeholder="Password">
      <div class="invalid-feedback" 
      *ngIf=" registerForm.get('password').hasError('required') && registerForm.get('password').touched">Password is required</div>
      <div class="invalid-feedback" 
      *ngIf=" registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">Password at least 4 Characters</div>
      <div class="invalid-feedback" 
      *ngIf=" registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">Password cannot exceed 8 character</div>
    </div>
    <div class="form-group">
      <input type="password"
      [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors 
      && registerForm.get('confirmPassword').touched
      || registerForm.get('confirmPassword').touched 
      && registerForm.hasError('mismatch')}"
     
      class="form-control" formControlName="confirmPassword"  placeholder="Confirm Password">
      <div class="invalid-feedback" 
      *ngIf=" registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched">Confirm password is required</div>
      <div class="invalid-feedback" 
      *ngIf=" registerForm.hasError('mismatch') && registerForm.get('confirmPassword').touched">Password mismatch</div>
    </div>
  
    <div class="form-group text-center">
      <button class="btn btn-success" type="submit" [disabled]= "!registerForm.valid">Register</button>
      <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>
    
  </form>
  <!-- <p>Form value: {{registerForm.value | json}}</p>
  <p>Form status: {{registerForm.status | json}}</p> -->
</div>
