.wrapper .container-fluid{
    width: calc(100% - 250px);
    margin-left: 250px;
    margin-right: 250px;
    
    padding: 10px 40px;
  transition: all 0.3s linear;
 
}
.wrapper.active .container-fluid{
    width: calc(100% - 100px); 
    margin-left: 100px;
  } 