<div class="wrapper">
  <div class="container-fluid">
      <div class="card-deck">
          <div class="card" style="max-width: 400px">
            
               <app-charts></app-charts>
           
             
          </div>
          <div class="card" style="max-width: 400px">
            
           <app-charts2></app-charts2>
         
      </div>
          <div class="card" style="max-width: 380px">
           
               <app-comment></app-comment>
           
             
          </div>
      </div>
          
</div>
  </div>
    

